<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuyue.mapper.AttentionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuyue.entity.Attention">
        <id column="Attention_id" property="attentionId" />
        <result column="bid" property="bid" />
        <result column="aid" property="aid" />
        <result column="is_del" property="isDel" />
    </resultMap>

</mapper>
