<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuyue.mapper.CarportPointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuyue.entity.CarportPoint">
        <id column="point_id" property="pointId" />
        <result column="bid" property="bid" />
        <result column="ip" property="ip" />
        <result column="point_num" property="pointNum" />
        <result column="aid" property="aid" />
        <result column="point_time" property="pointTime" />
    </resultMap>
    <select id="selectPointNumSumByBid" parameterType="int" resultType="java.lang.Integer">
        SELECT SUM(point_num) FROM carport_point WHERE bid=#{bid}
    </select>
    <select id="selectByAidAndIp" resultType="com.tuyue.entity.CarportPoint">
        select * from carport_point
        <where>
            <if test="aid !=null and aid != ''">
                aid=#{aid}
            </if>
            <if test="ip!=null and ip!=''">
                ip=#{ip}
            </if>
        </where>
    </select>

</mapper>
