<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuyue.mapper.UserAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tuyue.entity.UserAddress">
        <result column="aid" property="aid" />
        <result column="address_id" property="addressId" />
        <result column="recipients_name" property="recipientsName" />
        <result column="recipients_phone" property="recipientsPhone" />
        <result column="address" property="address" />
        <result column="detail_address" property="detailAddress" />
        <result column="is_default" property="isDefault" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <update id="upAddressDefaultAll" parameterType="int">
        UPDATE user_address set is_default=0 where aid=#{aid}
    </update>
    <select id="userAdderssList" resultType="com.tuyue.entity.UserAddress">
        select * from user_address
        where aid=#{aid}
              and is_delete=0
        order by is_default desc
    </select>

</mapper>
